@{
    ViewData["Title"] = "Acerca de BiblioExe";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"rel=stylesheet>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="Styles.css">

    <title>Acerca De</title>
</head>
<body>
<br><br><br>
<!-- Acerca De -->
    <div id="AcercaDe.html" class="container">
        <p>BIBLIO<b class="text-danger">EXE</b> se creó en Agosto de 2023. </p>
        <p>Nuestro público está compuesto principalmente por hombres y mujeres estudiantes, maestros y todos los que sienten interés por la cultura y buscan información y entretenimiento.</p>
        <p>Estamos muy orgullosos por lo que hemos hecho, y por eso nos hemos propuesto continuar nuestro crecimiento, en beneficio de la cultura de nuestro país.</p>
        <p>Dentro de los planes de expansión de BIBLIO<b class="text-danger">EXE</b> está el abrir expandirnos a más escuelas dentro del mismo IPN</p>  <br>
        <h3> Misión </h3>
        <p>Contribuimos a la difusión de la cultura y el entretenimiento creando experiencias para el encuentro con el conocimiento.</p> <br>
        <h3> Visión </h3>
        <p>Ser el referente del conocimiento y entretenimiento para enriquecer la cultura de los jovenes estudiantes, propiciando la transformación de la comunidad a la que servimos.</p> <br>
        <h3> Valores </h3>
        <p>Somos un libro abierto que creemos en:
            <br><br>
            <b class="text-dark">• PASIÓN:</b> Amamos la lectura.
            <br><br>
            <b class="text-dark">• ACTITUD DE SERVICIO:</b> Satisfacemos las necesidades de nuestros clientes superando sus expectativas.
            <br><br>
            <b class="text-dark">• INTEGRIDAD:</b> Actuamos con honestidad y congruencia.
            <br><br>
            <b class="text-dark">• RESPETO:</b> Tratamos a todos con dignidad.
            <br><br>
            <b class="text-dark">• INNOVACIÓN:</b> Generamos nuevas ideas para transformar el entorno escolar.</p>
    </div>
<!-- Acerca De -->
</body>
</html>