@{
    ViewData["Title"] = "Privacidad";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"rel=stylesheet>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Privacidad</title>
</head>
<body>
<br><br><br>
<!-- Acerca De -->
<!-- Térmios y Condiciones -->
<div class="container">
    <h2> Aviso de Privacidad </h2> <br><br>
    <h3> 1. Introducción </h3> <br>
    <p>En BIBLIOEXE, respetamos tu privacidad y estamos comprometidos a proteger la información personal que compartes con nosotros. Este Aviso de Privacidad describe cómo recopilamos, utilizamos, y protegemos tu información personal cuando utilizas nuestro sitio web y servicios.</p><br>
    <h3> 2. Información que Recopilamos </h3><br>
    <p>Podemos recopilar la siguiente información personal: <br>

        Información de contacto: nombre, dirección de correo electrónico, número de teléfono. <br>
        Información de registro: nombre de usuario, contraseña. <br>
        Información de transacciones: historial de préstamos. <br>
        Información de uso: datos sobre tu interacción con nuestro sitio web, incluyendo direcciones IP, cookies y otras tecnologías de seguimiento. </p> <br>
    <h3> 3. Cómo Utilizamos tu Información </h3> <br>
    <p>Utilizamos la información recopilada para los siguientes fines: <br>

        Proveer y mejorar nuestros servicios. <br>
        Procesar tus transacciones y gestionar tu cuenta. <br>
        Comunicarnos contigo sobre tus préstamos y otros servicios. <br>
        Personalizar tu experiencia en nuestro sitio web. <br>
        Cumplir con obligaciones legales y reglamentarias.</p> <br>
    <h3> 4. Compartición de Información </h3> <br>
    <p>No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en las siguientes circunstancias: <br>
 
        Con proveedores de servicios que nos ayudan a operar nuestro sitio web y proporcionar nuestros servicios. <br>
        Si es requerido por ley, para cumplir con un proceso legal, o para proteger nuestros derechos, propiedad o seguridad. <br>
        Con tu consentimiento explícito.</p> <br>
    <h3> 5. Seguridad de la Información </h3> <br>
    <p>Tomamos medidas razonables para proteger tu información personal contra pérdida, robo, uso indebido, acceso no autorizado, divulgación, alteración y destrucción. Sin embargo, ninguna transmisión de datos por Internet o sistema de almacenamiento puede garantizarse como 100% segura.</p><br>
    <h3> 6. Tus Derechos </h3> <br>
    <p>Tienes derecho a: <br>

        Acceder a la información personal que tenemos sobre ti. <br>
        Solicitar la corrección o eliminación de tu información personal. <br>
        Oponerte al procesamiento de tu información personal. <br>
        Retirar tu consentimiento para el uso de tu información personal en cualquier momento. <br>
        Para ejercer estos derechos, por favor contáctanos a través de biblioexe@gmail.com. </p> <br>
    <h3> 7. Cookies y Tecnologías de Seguimiento </h3> <br>
    <p>Nuestro sitio web utiliza cookies y tecnologías de seguimiento para mejorar tu experiencia de usuario y para fines analíticos. Puedes configurar tu navegador para rechazar las cookies, pero esto puede afectar tu capacidad para utilizar algunas funciones de nuestro sitio web.</p> <br>
    <h3> 8. Enlaces a Sitios de Terceros </h3> <br>
    <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de privacidad de estos sitios y te recomendamos revisar sus políticas de privacidad antes de proporcionarles cualquier información personal.</p> <br>
    <h3> 9. Cambios a este Aviso de Privacidad </h3> <br>
    <p>Podemos actualizar este Aviso de Privacidad de vez en cuando. Te notificaremos sobre cualquier cambio importante publicando el nuevo Aviso de Privacidad en nuestro sitio web. Te recomendamos revisar periódicamente este Aviso para estar al tanto de cualquier cambio.</p> <br>
    <h3>10. Contacto</h3><br>
    <p>Si tienes alguna pregunta o inquietud sobre este Aviso de Privacidad o sobre nuestras prácticas de privacidad, no dudes en contactarnos a través de biblioexe@gmail.com..</p> <br>

</div>
<!-- Acerca De -->
</body>
</html>